.modalMain {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 100;
    background-color: rgb(241, 230, 230);
    width: 75%;
    min-height: 200px;
    border-radius: 20px;
}

.title {
    text-align: center;
    color: tomato;
}