.modalMain {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
    background-color: rgb(224, 242, 201);
    width: 75%;
    min-height: 200px;
    border-radius: 20px;
    padding: 30px;
}

.title {
    text-align: center;
    color: tomato;
    font-size: 26px;
    line-height: 30px;
}

.title span {
    font-size: 18px;
}

.input {
    width: 60%;
    min-height: 120px;
    resize: none;
    margin-bottom: 10px;
    padding: 5px;
}

.btn {
    display: block;
    padding: 10px 5px;
    border: 1px solid gray;
    color: tomato;
    border-radius: 8px;
}

.container {
    padding: 20px;
    border:  1px solid tomato;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form {
    margin-bottom: 12px;
}